body {
    background-image: url("Happy\ Tails\ Hotel.webp");
    background-size: 100vw;
    margin-top: 50px;

}

#head {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: inline;
    background-color: rgba(111, 116, 187, 0.5);
    border-radius: 10px;

}

#container {
    display: flex;
    gap: 100px;
    justify-content: center;
    height: 25vh;
    align-items: center;
}

input[type="Submit"] {
    padding: 5px;
    border-radius: 5px;
    background-color: aqua;
}

#flex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(171, 162, 162, 0.5);
    border-radius: 10px;
    height: 50vh;
    width: 40vw;
    position: relative;
    left: 30vw;
    top: 15vh;

}

input[type="Submit"]:hover {
    background-color: blue;
    cursor: pointer;
}