legend {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size:30px;
    color: rgba(226, 83, 83);
    
}

form {
    text-align: center;
}

fieldset {
    background-color: rgba(171, 162, 162, 0.5);
    border: solid thin cyan;
    width: 40vw;
    text-align: left;
    margin: auto;
    border-radius: 5px;
    
}
.form {
    padding: 25px;
    
}


body {
    background-image: url("image/Happy\ Tails\ Hotel.webp");
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

label {
    width: 200px;
    display: inline-block;
}

.btn {
    background-color: aqua;
}

#btn {
    text-align: center;
}

a[target="_blank"]:hover {
    background-color: yellow;
    color: black;
}

a[target="_blank"] {
    color: orange;
}

.star {
    color: red;
}

label[class="trans"] {
    text-align: left;
    
}

input {
    border-radius: 5px;

}

.invalid {
    border-radius: 5px;
    border: solid 3px red;
    background-color: orange;
}

.valid {
    border-radius: 5px;
    border: solid 3px green;
    background-color: lightgreen;
}
