@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header {
    box-sizing: border-box;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -15px;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    text-decoration: none;
    background-color: rgb(249, 102, 102);
    padding: 15px 10px;
    border-radius: 20px;

}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: rgb(106, 106, 106);
    list-style: none;
    opacity: 0.9;

}

li:hover {
    opacity: 0.7;
}